#wrapper {
    width: 100%;
}

.fly {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
}

#draggable {
    height: 250px;
    width: 200px;
    background-color: #ffeecc;
    position: absolute;
    margin: 20px;
    z-index: 9;
}

#draggable .header {
    height: 30px;
    background-color: #ffdd33;
    line-height: 30px;
    cursor: move;
}

.draggable * {
    padding: 5px;
}